{% extends 'detection/base.html' %}

{% block content %}
<style>
    body
{
  font-family: "Open Sans";
}
#wrapper
{
  border: 1px solid #888;
  display: inline-block;
  padding:20px;

}
</style>
<div class="container" style="padding-top: 50px;">
<div class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Transaction cancelled</h1>
        <hr>
        <h5><p>Your card is not activated for transaction.</p> </h5>

      </div>
</div>
</div>


{% endblock %}