{% extends 'detection/base.html' %}

{% block title %} {{ block.super }}{% endblock title %}

{% block content %}


<body>



        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Welcome !</h3>
            <form method="POST" action="">
				{% csrf_token %}
                <div class="form-label-group">
                 <input type="text" name="username" id="username" placeholder="Username..." class="form-control">
                  <label for="username">username</label>
                </div>

                   <div class="form-label-group">
                <input type="email" name="email" id="email" placeholder="Email..." class="form-control" >
                    <label for="email">email</label>
                </div>

                <div class="form-label-group">
                 <input type="password" name="password1" id="password1" placeholder="Password..." class="form-control" >
                  <label for="password1">Password</label>
                </div>
              <div class="form-label-group">
                 <input type="password" name="password2" id="password2" placeholder="Confirm Password..." class="form-control" >
                   <label for="password2">Password</label>
                </div>

                <button class="btn btn-lg btn-danger btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit"  name="register">Sign Up</button>
                <div class="text-center">
                 <div class="d-flex justify-content-center links">
						Already have an account? <a href="{% url 'signin' %}" class="ml-2">Login</a>
					</div>
                  </div>

              </form>
            </div>
          </div>
        </div>

</body>

{% endblock content %}
